/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
CONTAINER
*/

.pool .white-piece{
    background: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    z-index: 3;
    display: inline-block;
}
.puzzle .black-piece{
    background: none;
    cursor:auto;
    width: 100px;
    height: 100px;
    border: 1px solid #ECECEC;
    z-index: 1;
    display: inline-block;
}


canvas{
    padding: 0;
    margin: 0;
}
.white-piece{
    padding: 0;
    margin: 0;
}
.black-piece{
    padding: 0;
    margin: 0;
}












