/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.pool .col-piece{
    background: none;
    cursor:pointer;
    width: 160px;
    height: 160px;
    border: 1px solid blue;
    z-index: 3;
    display: inline-block;
}
.pool .col-piece .shape{
    background: gray;
}
.puzzle .col-piece{
    background: none;
    cursor:auto;
    width: 160px;
    height: 160px;
    border: 1px solid blue;
    z-index: 1;
    display: inline-block;
}

.puzzle .col-piece .shape{
    background: black;
}












